@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

    .prose p,
    .prose li {
        @apply my-4;
    }
}

.animate-fade-up {
    opacity: 0;
    animation: fade-up 750ms 100ms forwards;
}

.marquee-container {
    overflow-x: visible !important;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeue-Light.woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeue.woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeue-CondensedBold.woff');
    font-weight: 700;
    font-display: swap;
}