@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-fade-up {
    opacity: 0;
    animation: fade-up 750ms 100ms forwards;
}

.marquee-container {
    overflow-x: visible !important;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}